In [7]:
import pandas as pd
import geopandas as gpd
import numpy as np
from datetime import datetime
import plotly.express as px

from urllib.request import urlopen
import json

In [8]:
# handlig dates
dateparse = lambda x: datetime.strptime(x, '%d/%m/%Y')

In [9]:
# Import CSV covid cases from local 
cc_csv = f"C:/capes_sql/post_covid/casos_cov_conf.csv"
cc_df = pd.read_csv(cc_csv, sep=',',parse_dates=['TipusCasData'], date_parser=dateparse)
cc_df.head(5)

,TipusCasData,ComarcaCodi,ComarcaDescripcio,MunicipiCodi,MunicipiDescripcio,DistricteCodi,DistricteDescripcio,SexeCodi,SexeDescripcio,TipusCasDescripcio,NumCasos
0,2020-10-08,21.0,MARESME,8121.0,MATARÓ,NaN,No classificat,1.0,Dona,Positiu per Test Ràpid,1
1,2020-09-01,40.0,VALLES OCCIDENTAL,8125.0,MONTCADA I REIXAC,NaN,No classificat,0.0,Home,Positiu per Test Ràpid,1
2,2020-06-12,7.0,BAGES,8191.0,SALLENT,NaN,No classificat,1.0,Dona,Positiu per Test Ràpid,1
3,2020-09-21,13.0,BARCELONES,8019.0,BARCELONA,1.0,CIUTAT VELLA,1.0,Dona,PCR probable,2
4,2020-07-21,40.0,VALLES OCCIDENTAL,8260.0,SANTA PERPÈTUA DE MOGODA,NaN,No classificat,1.0,Dona,Positiu per Test Ràpid,7

In [10]:
# NaN values in col MunicipiCodi as 0
cc_df['MunicipiCodi']= cc_df['MunicipiCodi'].fillna(0)
# col MunicipiCodi values as int
#cc_df['MunicipiCodi'] = cc_df['MunicipiCodi'].astype(int)
cc_df.head(3)

,TipusCasData,ComarcaCodi,ComarcaDescripcio,MunicipiCodi,MunicipiDescripcio,DistricteCodi,DistricteDescripcio,SexeCodi,SexeDescripcio,TipusCasDescripcio,NumCasos
0,2020-10-08,21.0,MARESME,8121.0,MATARÓ,NaN,No classificat,1.0,Dona,Positiu per Test Ràpid,1
1,2020-09-01,40.0,VALLES OCCIDENTAL,8125.0,MONTCADA I REIXAC,NaN,No classificat,0.0,Home,Positiu per Test Ràpid,1
2,2020-06-12,7.0,BAGES,8191.0,SALLENT,NaN,No classificat,1.0,Dona,Positiu per Test Ràpid,1

In [11]:
cc_df = cc_df.groupby(["MunicipiCodi"])["NumCasos"].sum()

In [12]:
cc_df = cc_df.to_frame() # serie to df
cc_df = cc_df.reset_index() # reset index

In [13]:
cc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MunicipiCodi  769 non-null    float64
 1   NumCasos      769 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 12.1 KB

In [14]:
type(cc_df)

pandas.core.frame.DataFrame

In [16]:
cc_df.head(20)

    MunicipiCodi  NumCasos
0            0.0     22877
1         8001.0      1176
2         8002.0        14
3         8003.0      1130
4         8004.0        28
5         8005.0       922
6         8006.0      1801
7         8007.0       950
8         8009.0      1436
9         8010.0       751
10        8011.0       240
11        8012.0       312
12        8013.0       135
13        8014.0       270
14        8015.0     29849
15        8016.0       207
16        8017.0       386
17        8018.0       318
18        8019.0    213765
19        8020.0       809

In [ ]:
08100

In [15]:
# import geojson as a geodataframe
geojson = gpd.read_file('C:/capes_sql/post_covid/lim_muni.geojson') 
geojson.head(6)

,codi_ine_6,provincia1,codi_costa,codi_ptgc_,comarca1,id,nom_muni,municipi,codi_cadas,codi_aft,_feature_id,codi_ptgc,cap_muni,codiine,geometry
0,0.0,,0.0,,,301.0,Puig-reig,081751,,,4,,Puig-reig,08175,"MULTIPOLYGON (((1.86341 41.91648, 1.86089 41.9..."
1,0.0,,0.0,,,309.0,Bassella,250447,,,7,,Bassella,25044,"MULTIPOLYGON (((1.35053 41.99408, 1.34875 41.9..."
2,0.0,,0.0,,,310.0,Osor,171169,,,8,,Osor,17116,"MULTIPOLYGON (((2.61606 41.92397, 2.61418 41.9..."
3,0.0,,0.0,,,311.0,Gurb,081000,,,9,,Gurb,08100,"MULTIPOLYGON (((2.28961 41.96064, 2.28857 41.9..."
4,0.0,,0.0,,,312.0,les Avellanes i Santa Linya,250371,,,10,,les Avellanes,25037,"MULTIPOLYGON (((0.76895 41.85168, 0.76888 41.8..."
5,0.0,,0.0,,,314.0,Oristà,081516,,,17,,Oristà,08151,"MULTIPOLYGON (((2.13624 41.95468, 2.13621 41.9..."

In [17]:
# open geojson as a dict
with open('C:/capes_sql/post_covid/lim_muni.geojson') as f:
    geojson = json.load(f)

In [18]:
geojson["features"][0]["properties"]

{'codi_ine_6': '0.0',
 'provincia1': '',
 'codi_costa': '0.0',
 'codi_ptgc_': '',
 'comarca1': '',
 'id': '301.0',
 'nom_muni': 'Puig-reig',
 'municipi': '081751',
 'codi_cadas': '',
 'codi_aft': '',
 '_feature_id': '4',
 'codi_ptgc': '',
 'cap_muni': 'Puig-reig',
 'codiine': '08175'}